﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zencare </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.css"/>
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css"/>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-action="Privacy" asp-controller="Home" class="nav-link">Privacy</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                 @*    <partial name="_LoginPartial"/> *@
                </li>
               
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                            
                        
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>


        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/dist/img/Zencarelogo.png" alt="Zencare" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Zencare</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                </div>
            </div>
            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class=" nav-icon fas fa-bar-chart"></i>
                                    <p>AdminDashboard</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Calendar" asp-controller="Calendarscheduler" class="nav-link">
                            <i class="nav-icon far fa-calendar-alt"></i>
                            <p>
                                Calendar
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Edit
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-action="Prescedit" asp-controller="Prescriptions" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>PrescriptionDetails</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Aptedit" asp-controller="Appointments" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>AppointmentDetails</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Bedregedit" asp-controller="BedRegistrations" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>BedRegistrationDetails</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon far fa-plus-square"></i>
                            <p>
                                Add
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-action="Prescrt" asp-controller="Prescriptions" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>
                                        PrescriptionDetails
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-action="Bedregcrt" asp-controller="BedRegistrations" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>BedRegistrationDetails</p>
                                </a>
                            </li>

                        </ul>

                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-action="Aptcrt" asp-controller="Appointments" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p> AppointmentDetails</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                    <a href="#" class="nav-link active">

                            <i class="nav-icon fas fa-table"></i>
                            <p>
                                Details
                                <i class="fas fa-angle-left right"></i>
                            </p>
                    </a>
                    <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-action="Aptlist" asp-controller="Appointments" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Appointments</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Presclist" asp-controller="Prescriptions" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Prescriptions</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Bedreglist" asp-controller="BedRegistrations" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>BedRegistrations</p>
                                </a>
                            </li>
                        </ul>           
                    
                </ul>
            </nav>
            

        </aside>


        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <!-- <ol class="breadcrumb float-sm-right"> -->
                            <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
                            <!-- <li class="breadcrumb-item active">Blank Page</li> -->
                            <!-- </ol> -->
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <section class="content">
                <div class="card-body">
                    @RenderBody()
                </div>

             

            </section>

        </div>

        <div>

            <aside class="control-sidebar control-sidebar-dark">

            </aside>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Zencare App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- Zencare for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        scheduler.init('scheduler_here', new Date(2023, 11, 13), "week");
    </script>
    <script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js"></script>
    <link href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler_material.css"
          rel="stylesheet" type="text/css" charset="utf-8">
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
        }
    </style>
    <!-- Zencare App -->
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
