﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "RegistrationSuccess";
}

<h2>Registration Successful</h2>

<p>Congratulations! Your registration is complete.</p>
